body {
	background-color: whitesmoke;
	text-transform: uppercase;
    font-size: 18px;
    width: 400px;
    margin-left: 40px;
    padding: 20px;
}

h1 {
    font-family: 'Geo', sans-serif;
    margin-top: 20px;
    letter-spacing: 4px;
    font-size: 80px;
    color: #969696;
    text-decoration: none;
}

p, a {
    font-family: 'Geo', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    color: teal;
    text-decoration: none;
}