@font-face {
  font-family: 'Metrica-Regular';
  src: url('Metrica-Regular.eot');
  src: url('Metrica-Regular.woff2') format('woff2'),
       url('Metrica-Regular.woff') format('woff'),
       url('Metrica-Regular.ttf') format('truetype'),
       url('Metrica-Regular.svg#Metrica-Regular') format('svg'),
       url('Metrica-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'POLYARegular-Regular';
  src: url('POLYARegular-Regular.eot');
  src: url('POLYARegular-Regular.woff2') format('woff2'),
       url('POLYARegular-Regular.woff') format('woff'),
       url('POLYARegular-Regular.ttf') format('truetype'),
       url('POLYARegular-Regular.svg#POLYARegular-Regular') format('svg'),
       url('POLYARegular-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

* { margin:0 auto; padding:0; box-sizing:border-box; }

body {
	background-color: #f6f6f6;
	color: #696969;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Abel', sans-serif;
  letter-spacing: 1px;
}

footer {
  clear:both;
  padding:2em 0;
}

section {
	clear:both;
}

nav {
  word-spacing: 5px;
  margin-bottom: 2em;
}

a {
  color: #696969;
  text-decoration: none;
  transition: color .5s;
}

a:hover {
  color: black; 
  transition: color .5s; 
}

h1 {
  font-family: 'Metrica-Regular';
  letter-spacing: 8px;
  font-size: 80px;
}

h2 {
	padding: 2em 0;
  font-weight: normal;
}

p {
	margin:2em 0;
}

img {
	display:block;
  margin-top:2em;
	margin-bottom:2em;
	width: 90%;
  border: 10px;
	box-shadow: .5em .5em .5em #8F8F8F;
}

.preview {
    box-shadow: .5em .5em .5em #8F8F8F;
    float: left;
    margin: 5%;
    margin-top:0;
    width: 40%;
}

.preview:hover {
  opacity:0.5;
}

.intro {
  word-spacing: 5px;
}

.intro-small {
	display: none;
}

#slogan {
  font-family: 'POLYARegular-Regular';
  font-size: 90px;
  line-height: 1.4;
  text-align: right;
  color: #000;
  margin:.5em auto;
  width: 90%;
}

#slogan * {
	display:block;
}

.wrapper {
	max-width: 70em;
	margin:auto;
	padding: 1em;
}

article {
  width: 90%;
  margin: 1em auto;
  border: 2px solid;
  border-color:#8F8F8F;
  padding: 1em;
  text-transform: none;
  text-align: left;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.col-2 {
  float:left;
  width:50%;
}

@media only screen and (max-width: 768px) {
	.intro {
		display: none;
	}

	.intro-small {
		display: block;
    text-align: center;
	}

	.preview {
		float:none;
		width:90%;

	}

	h1 {
	  font-family: 'Metrica-Regular';
	  letter-spacing: 5px;
	  font-size: 60px;
	}

	h2 {
		font-size: 18px;
	}

/*	nav a {
	display: block;
	text-align: right;
	margin: 0;
  padding: .5em;
	}*/

	#slogan {
	font-family: 'Abel', sans-serif;
	font-size: 60px;
  color: #696969;
	letter-spacing: 1px;
	}

  .col-2 {
    float:none;
    width:auto;
  }
}

@media only screen and (max-width: 480px) {
	h1 {
	  font-family: 'Metrica-Regular';
	  letter-spacing: 5px;
	  font-size: 40px;
	}	
}
